<html>
<body>
<body background="https://www.logitechg.com/assets/65424/29/g560-lightsync-pc-gaming-speakers.jpg">
<FONT COLOR=WHITE><div align="center"><H1>GAME - ON<H1></div>
<FONT COLOR="ORANGE"><H1>LOG-IN</H1></FONT>
<FONT COLOR="WHITE"><div align="left"><P>USER-NAME:<img id="passwd" class="tooltip-tipsy" src="css/images/keyboard.svg">
<input id="password" type="password"></P>
PASSWORD:<img id="passwd" class="tooltip-tipsy"  src="css/images/keyboard.svg">
<input id="password" type="password">
</BODY>
</HTML>